h1{
    padding: 25px 100px;
    color:teal;
    font-family: Georgia, Times, "Times New Roman", serif;

}
.nav-tabs {
    padding: 25px;
}

body{
    background: url("../images/concrete_seamless.png");
}
h2{
    text-align:left;
    font-family: Georgia, Times, "Times New Roman", serif;
    color:teal;
    font-size: 2rem;
}
h3{
    text-align:left;
    font-family: Georgia, Times, "Times New Roman", serif;
    color:teal;
    font-size: 2rem;
}
h4{
    text-align:left;
    font-family: Georgia, Times, "Times New Roman", serif;
    color:teal;
    font-size: 2rem;
}
#masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #fff;
    background: #fff;
    border-bottom: 2px solid #ccc;
}
#logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
  }
  .nav {float: right;
    padding: 25px 200px;
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: #fff;
        background: #4aaaa5;
        font-family: Georgia, Times, "Times New Roman", serif;
    }
    .nav-pills .nav-link {
        color: #fff;
        background: #4aaaa5;
        font-family: Georgia, Times, "Times New Roman", serif;
    }
    
#main-container {
    padding-top: 130px;
    min-height: calc(100vh - 70px);
}
.main-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #fff;
    border: 1px solid #ddd;
}
.auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}

footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
}
    
  .btn:not(:disabled):not(.disabled) {
    background-color: teal;
}
@media screen and (max-width: 768px) {
   
  
    .auth-image {
        width:265;
    }
    .main-section{
        float: left;
        width: 100%;
        max-width: 290px;
        padding: 0px 10px 10px;
        background: #fff;
        border: 1px solid #ddd;
        height:auto;
        
    }
   
    img {
        width: 254px;
    }
    
}   
@media screen and (max-width: 320px) {
    #logo{
        width: 320px;
        margin: auto;
    }
    .nav{
        width:460px;
        margin: 10px 35px;
        
    }
    .auth-image {
        width:225px;
    }
    .main-section{
        float: left;
        width: 100%;
        max-width: 290px;
        padding: 0px 10px 10px;
        background: #fff;
        border: 1px solid #ddd;
        height:auto;
        
    }
    body {
    background: url("../images/concrete_seamless.png");
    }
    img {
        width: 225px;
    }
    
}   